
  <% if(typeof message != 'undefined') { %><h3><%- undefined %></h3><% } %>
<aside>
        <div id="sidebar" class="nav-collapse ">
          <!-- sidebar menu start-->
          <ul class="sidebar-menu">
            <li class="active">
              <a class="" href="/page/category">
                            <i class="icon_house_alt"></i>
                            <span>Trang chủ</span>
                        </a>
            </li>
            <li class="sub-menu">
              <a href="javascript:;" class="">
                            <i class="icon_document_alt"></i>
                            <span>Loại sản phẩm</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
              <ul class="sub">
                <li><a class="" href="/page/listhoctap">Học tập</a></li>
                <li><a class="" href="/page/listvanphong">Văn phòng</a></li>
                <li><a class="" href="/page/listgiadinh">Gia đình</a></li>
                <li><a class="" href="/page/listkhac">Khác</a></li>
              </ul>
            </li>
           
            <li>
              <a class="" href="/page/thongke">
                            <i class="icon_piechart"></i>
                            <span>Thống kê</span>
  
                        </a>
  
            </li>
            <li class="sub-menu">
              <a href="javascript:;" class="">
                            <i class="icon_documents_alt"></i>
                            <span>Liên hệ</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
              <ul class="sub">
                <li><a class="" href="/profile">Profile</a></li>
                <li><a class="" href="/login"><span>Login Page</span></a></li>
                <li><a class="" href="/page/contact"><span>Contact Page</span></a></li>
              </ul>
            </li>
  
          </ul>
          <!-- sidebar menu end-->
        </div>
      </aside>